@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.menu {
    background: #F6E300;
    width: 100%;
    padding: 4px;
    background-size: cover;
    position: fixed;
    z-index: 10;
}
.f-direction-col-rev{
    flex-direction: column-reverse;
}

.w-100 {
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.f-direction-col {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.gap20 {
    gap: 20px;
}

.postn-ab {
    position: absolute;
}

.bottom-0 {
    bottom: 0%;
}

.brgr1 {
    left: 5%;
    top: 10%;
}

.brgr2 {
    bottom: 20%;
    left: 20%;
}

.brgr3 {
    top: 10%;
    left: 20%;
}

.brgr4 {
    bottom: 20%;
}

.brgr5 {
    top: 12%;
    right: 28%;
}

.brgr6 {
    bottom: 24%;
    right: 5%;
}

.brgr7 {
    top: 0%;
    right: 8%;
}

.brgr8 {
    bottom: 10%;
    right: 24%;
}

.mb-80 {
    margin-bottom: 80px;
}

.pb-50 {
    padding-bottom: 50px;
}

.p-20 {
    padding: 20px;
}

.ml-80 {
    margin-left: 80px;
}

.p-115 {
    padding-top: 115px;
    padding-bottom: 115px;
}

.pt-73 {
    padding-top: 73px;
}

.mt-24 {
    margin-top: 24px;
}

.sec-3-head {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    padding-top: 50px;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: black;
}

.nav-link:hover {
    color: red;
}

.nav-btn {
    width: 220px;
    height: 54px;
    background-color: white;
    border: none;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: red;
}

.nav-btn:hover {
    background-color: red;
    color: white;
}

.bg-img {
    background-image: url(../images/sec-1\ bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}

.bg-clr {
    background-color: #F6E300;
    background-size: contain;
}

.bg-clr-2 {
    background-color: #FFF03F;
    background-size: contain;
}

.bg-clr-3 {
    background-color: #F4241E;
    background-size: contain;
}

.postn-rel {
    position: relative;
}

.cursor {
    cursor: pointer;
}

.sec-4-head {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: left;
    padding-top: 66px;
}

.sec-4-txt {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    margin-top: 24px;
}

.sec-4-btn {
    width: 219px;
    height: 53px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.44px;
    text-align: center;
    border: none;
    background: #F4241E;
    color: white;
    padding: 5px;
    margin-top: 48px;
    margin-bottom: 66px;
}

.sec-4-btn:hover {
    background-color: white;
    color: #F4241E;
}

.num {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: white;
}

.txt {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
    color: #FDD3D2;
}

.s6-head {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: white;
    padding-top: 29px;
}

.mt32 {
    margin-top: 32px;
}

.mb58 {
    padding-bottom: 58px;
}


.left0 {
    left: 0%;
}


.mt-16 {
    margin-top: 16px;
}


.p40 {
    padding: 0px 40px;
}



.p-40 {
    padding: 40px;
}

.acc-head {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: black;
}

.mt-10 {
    margin-top: 10px;
}

.active {
    .text-accordion {
        position: unset;
    }

    .rotate {
        transform: rotate(180deg);
    }
}

.text-accordion {
    position: absolute;
    top: -175%;
    left: 0%;
    padding: 20px;
}

.parent-acc {
    max-width: 922px;
    background-color: #FFF03F;
    width: 100%;
}

.acc-txt {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
    color: #4D4813;
}


.head {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    color: black;
}

.list {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: black;
}

.dot-left::after {
    content: '';
    position: absolute;
    top: 10%;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
    left: -9px;
    z-index: 1;
}

.dot-right::after {
    content: '';
    position: absolute;
    top: -5%;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
    left: -3px;
    z-index: 1;
}

.timeline {
    position: relative;
}

.timeline::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    top: 0%;
    left: 2%;
    background-color: red;
}

.clr-white {
    background-color: white;
    padding: 24px;
    border-radius: 10px;
    min-width: 238px;
}

/* .display-none {
    display: none;
} */

.open-logo {
    top: 26%;
    position: absolute;
    right: 25%;
    width: 50%;
}

.sec-7-head {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    margin-bottom: 90px;
}

.mt-88 {
    margin-top: 88px;
}

.gap46 {
    gap: 46px;
}

.copy {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
    color: black;
    margin-bottom: 44px;
}

.brgr-img1 {
    position: absolute;
    top: 5%;
    left: 20%;
}

.brgr-img2 {
    position: absolute;
    top: 40%;
    left: 2%;
}

.brgr-img3 {
    position: absolute;
    top: 25%;
    right: 20%;
}

.brgr-img4 {
    position: absolute;
    bottom: 30%;
    left: 30%;
}

.brgr-img5 {
    position: absolute;
    bottom: 7%;
    left: 2%;
}

.brgr-img6 {
    position: absolute;
    bottom: 7%;
    right: 15%;
}

.brgr-img7 {
    position: absolute;
    top: 8%;
    right: 2%;
}

.w-70 {
    width: 70%;
}

.h-65 {
    min-height: 65vh;
}

.brgr-img8 {
    position: absolute;
    bottom: 25%;
    right: 2%;
}

.left2 {
    left: 2%;
}

.img-txt-head {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: black;
}

.img-txt {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
    color: black;
    margin-bottom: 42px;
}

.s8-head {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    text-align: center;
    color: black;
    padding-top: 42px;
    padding-bottom: 38px;
}

.brgr2,
.brgr5,
.brgr8,
.brgr3,
.brgr1,
.brgr5,
.brgr4,
.brgr6,
.brgr7 {
    display: none;
}

.main-head {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    color: black;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 26px;
}

.f-grow-1 {
    flex-grow: 1;
}

.overflow {
    overflow: hidden;
}

.lg-view {
    display: none;
}

@media (max-width: 992px) {
    .lg-view {
        position: fixed;
        width: 100%;
        height: 102vh;
        top: 0;
        left: -150%;
        background-color: #F6E300;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        transition: 0.5s;
        gap: 20px;
    }

    .nav-icon {
        z-index: 4;
    }

    .show {
        left: 0%;
    }

}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .dot-right::after {
        left: 2px;
    }

    .open-logo {
        top: 35%;
    }



}

@media (min-width:768px) {
    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .dot-right::after {
        left: 6px;
    }

    .open-logo {
        top: 40%;
    }
    .f-direction-row{
        flex-direction: row;
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .open-logo {
        width: 30%;
        top: 53%;
        right: 37%;
    }

    .w-85 {
        width: 85%;
    }

    .dot-left::after {
        content: '';
        position: absolute;
        top: 10%;
        border-radius: 50%;
        background-color: white;
        width: 25px;
        height: 25px;
        left: -9px;
        z-index: 1;
    }

    .dot-right::after {
        content: '';
        position: absolute;
        top: -5%;
        border-radius: 50%;
        background-color: white;
        width: 25px;
        height: 25px;
        left: 98.5%;
        z-index: 1;
    }

    .lg-view {
        display: flex;
    }

    .nav-icon {
        display: none;
    }


    .timeline {
        position: relative;
    }

    .timeline::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 8px;
        top: 0%;
        left: 50%;
        background-color: red;
    }

    .left50 {
        left: 50%;
    }


    .w-50 {
        width: 50%;
    }

    .w-lg-70 {
        width: 70%;
    }
}